@import url('https://fonts.googleapis.com/css2? family= Gentium+Book+Plus & family= Lato:wght@100 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background-color: white;
}
.nav-link{
    text-decoration: none;
    color: rgb(8, 18, 1);
    font-size: 16px;
    margin-left: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
    list-style: none;
    display: inline-block;
}
.nav-link:hover{
    color: rgb(202, 200, 200);
}
.inicio{
    height: 100vh;
    width: 100vw;
    background-image: url(multimedia/concurso\ de\ expansion5.jpg);
    background-size: cover;
    background-size: center;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.navbar-brand{
    display: none;
    float: right;
    font-size: 30px;
    color: rgb(8, 18, 1);
    padding: 10px;
    text-decoration: none;
}
.navbar-brand:hover{
    color: rgb(202, 200, 200);
}
.call{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150px;
}
h1{
    font-size: 70px;
    margin-left: 15px;
}
.call h2{
    font-size: 25px;
    margin-left: 15px;
}
section h1{
    text-align: center;
    font-size: 20px;
    color: rgb(40, 39, 39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 70px;
}

.infoSobreMi{
    text-align: center;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.portafolio{
    height: 50px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: rgb(40, 39, 39);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.galeria{
    background-color: white;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    padding: 20px;
    grid-gap: 20px;
}
.imagen{
    border-radius: 2px;
    transition: all 0.7s;
}
.imagen:hover{
    filter: grayscale(100%);
    transform: scale(1.05);
}
.imagen1{
    background-image: url(multimedia/concurso\ de\ expansion1.jpg);
    background-position: center;
    background-size: cover;
}
.imagen2{
    background-image: url(multimedia/concurso\ de\ expansion2.jpg);
    background-position: center;
    background-size: cover;
}
.imagen3{
    background-image: url(multimedia/concurso\ de\ expansion3.jpg);
    background-position: center;
    background-size: cover;
}
.imagen4{
    background-image: url(multimedia/concurso\ de\ expansion4.jpg);
    background-position: center;
    background-size: cover;
}
.imagen5{
    background-image: url(multimedia/concurso\ de\ expansion5.jpg);
    background-position: center;
    background-size: cover;
}
.imagen6{
    background-image: url(multimedia/concurso\ de\ expansion6.jpg);
    background-position: center;
    background-size: cover;
}
.imagen7{
    background-image: url(multimedia/memorial\ covid1.jpg);
    background-position: center;
    background-size: cover;
}
.imagen8{
    background-image: url(multimedia/memorial\ covid2.jpg);
    background-position: center;
    background-size: cover;
}
.imagen9{
    background-image: url(multimedia/memorial\ covid3.jpg);
    background-position: center;
    background-size: cover;
}
.imagen10{
    background-image: url(multimedia/proyecto\ universitario1.jpg);
    background-position: center;
    background-size: cover;
}
.imagen11{
    background-image: url(multimedia/proyecto\ universitario2.jpg);
    background-position: center;
    background-size: cover;
}
.imagen12{
    background-image: url(multimedia/proyecto\ universitario3.jpg);
    background-position: center;
    background-size: cover;
}
.imagen13{
    background-image: url(multimedia/proyecto\ universitario4.jpg);
    background-position: center;
    background-size: cover;
}
.imagen14{
    background-image: url(multimedia/Pujadas\ Valentina\ _06.jpg);
    background-position: center;
    background-size: cover;
}
.imagen15{
    background-image: url(multimedia/RENDER\ VISTA.jpg);
    background-position: center;
    background-size: cover;
}
.imagen16{
    background-image: url(multimedia/RENDER_1\ -\ Photo\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}
.renders{
    display: flex;
    justify-content: space-between;
}
.esquemas{
    display: flex;
    justify-content: space-between;
}
.planos{
    display: flex;
    justify-content: space-between;
}
.img{
    background-color: seagreen;
    width: 50%;
    height: 300px;
}
.info{
    border: solid 2px black;
    width: 50%;
    height: 300px;
}
.contacto h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    padding: 10px;
}
.contacto{
    background-color: rgba(169, 175, 175, 0.447);
}
form{
    text-align: center;
    padding: 30px;
}
footer{
    background-color: rgb(238, 238, 238);
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.redes :hover{
    color: rgb(201, 201, 182);
}
.redes a i{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: white;
    color: black;
}
.btn :hover{
    color:  rgb(201, 201, 182);
}

@media only screen and (max-width:360px) {
    .inicio{
        margin: 0;
        width: 100vw;
        background-position: center;
        background-size: cover;
    }
    h1{
        font-size: 30px;
    }
    .call h2{
        font-size: 16px;
    }  
    .barra{
        display: none;
    }
    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(16, 400px);
    }
    .imagen{
        background-position: center;
        background-size: cover;
    }
    .navbar-brand{
        display: flex;
    }
}