@import url('https://fonts.googleapis.com/css2? familia= Exo:peso@100;300 &family= Gentium+Book+Plus & family= Lato:wght@100 & display=swap');

$color1: rgb(0, 0, 0);
$color2: white;
$color3: rgb(36, 36, 36);
$color4: rgb(115, 115, 115);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin sizes ($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}

header {
    height: 50px;
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    text-decoration: none;
    color: $color2;
    font-size: 16px;
    margin-left: 15px;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.nav-link:hover {
    color: $color4;
}

.inicio {
    height: 100vh;
    width: 100%;
    background-image: url(multimedia/IMAGEN2.jpg);
    background-size: cover;
    background-size: center;
}

.call {
    text-align: center;
    color: $color2;
    font-variant: small-caps;
    font-family: 'Exo', sans-serif;
    margin-top: 50px;
}

h1 {
    font-size: 70px;
    margin-left: 15px;
}

.call h2 {
    font-size: 16px;
    margin-left: 15px;
}

.fondo {
    background-color: $color3;
    height: 100%;
    width: 100%;
}

section h1 {
    text-align: center;
    color: $color2;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    padding-top: 70px;
}

.sobremi {
    background-image: url(multimedia/RENDER_1-Photo.jpg);
    opacity: 0, 3;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main {
    text-align: center;

    .infoSobreMi {
        padding-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        color: $color2;
        font-family: 'Exo', sans-serif;
        font-variant: small-caps;
    }

    .link {

        text-decoration: none;
        color: $color2;
        font-size: 16px;
        list-style: none;
        font-variant: small-caps;
    }

    .link:hover {
        color: $color1;
    }
}

.galeria {
    @include sizes (100%, 100%, $color3);
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(4, 700px);
    padding: 20px;
    grid-gap: 20px;
}

.imagen {
    border-radius: 2px;
    transition: all 0.7s;
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.imagen:hover {
    filter: grayscale(100%);
    transform: scale(1.05);
}

.proyecto {
    background-color: $color1;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.imgProyecto {
    height: 100%;
    width: 50%;
    padding: 20px;
    padding-top: 200px;
}

.infoProyecto {
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    height: 100%;
    width: 50%;
    padding-top: 300px;
    color: $color2;

    h1 {
        font-size: 30px;
    }
}


.servicios {
    background-image: url(multimedia/PujadasValentina_06.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 200px);
    padding: 20px;
    padding-left: 200px;
    grid-gap: 20px;
}

.card {
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    border-radius: 2px;
    background-color: $color4;
    color: $color2;
    margin-left: 30px;
}

.contacto h2 {
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    padding-left: 50px;
    padding-top: 20px;
    color: $color2;
}

.contacto {
    background-image: url(multimedia/RENDERVISTA.jpg);
    opacity: 1;
    background-position: center;
    background-size: cover;
}

form {
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    color: $color2;
}

.contacto form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $color2;
    background-color: $color2;
}

.footer {
    background-color: $color3;
    text-align: center;
    height: 250px;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
}

.footer h2 {
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    color: $color2;
    font-size: 20px;
    padding-left: 20px;
}

.redes h2 {
    padding-top: 20px;
}

.redes a i:hover {
    color: $color4;
}

.redes a i {
    text-decoration: none;
    color: $color2;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.mapa {
    padding: 20px;
}

.mapa ul li a {
    text-decoration: none;
    list-style: none;
    color: $color2;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
}

.mapa ul li a:hover {
    color: $color4;
}

iframe {
    height: 200px;
    width: 300px;
    padding-top: 20px;
}

.ubicacion p {
    color: $color2;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
}

#footer {
    height: 100px;
    width: 100%;
    padding: 20px;
    background-color: $color4;

    p {
        color: $color2;
        text-align: center;
    }
}

.btn {
    background-color: transparent;
    color: $color2;
    border: 1px solid $color2;
}


@media only screen and (min-width:359px) and (max-width:1000px) {
    .inicio {
        margin: 0;
        width: 100vw;
        background-position: center;
        background-size: cover;
    }

    nav {
        background-color: $color3;
        z-index: 999;

        .nav-link {
            color: $color2;
        }

    }

    h1 {
        font-size: 30px;
    }

    .call h2 {
        font-size: 16px;
    }

    .barra {
        display: none;
    }

    .main .infoSobreMi {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;
    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 700px);
        grid-gap: 20px;
    }

    .imagen {
        height: 700px;
        width: 100%;

        .imagen1 {
            background-position: center;
            background-size: cover;
        }

        .imagen2 {
            background-position: center;
            background-size: cover;
        }

        .imagen3 {
            background-position: center;
            background-size: cover;
        }

        .imagen4 {
            background-position: center;
            background-size: cover;
        }
    }

    .navbar-brand {
        display: flex;
    }

    .infoProyecto {
        width: 100%;
        height: 400px;
        padding: 10px;
    }

    .imgProyecto {
        height: 400px;
        width: 100%;
        padding-top: 100px;
    }

    .footer {
        display: inline-block;
        padding: 0px;
    }

    .redes a i {
        color: $color2;
        font-size: 30px;
    }

    .servicios {
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 200px);
        padding: 20px;
        grid-gap: 20px;
        padding-left: 35px;
    }
    .footer{
        padding-left: 35px;
    }
    .ubicacion{
        padding-left: 25px;
    }
}